@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #2A3056;
  --teal: #43B0AF;
  --cyan: #67FFF2;
  --dark-green: #294933;
  --green: #446B5C;
  --light-green: #81EC86;

  --background: #0a0a0a;
  --foreground: #67FFF2;
  --primary: #43B0AF;
  --secondary: #81EC86;
  --accent: #67FFF2;
  --card-bg: #2A3056;
  --border: #446B5C;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
